[submodule "DSLMapper"]
	path = DSLMapper
	url = git@github.com:Anjiang-Wei/DSLMapper.git
[submodule "legion"]
	path = legion
	url = git@github.com:Anjiang-Wei/legion.git
[submodule "taco"]
	path = taco
	url = git@github.com:Anjiang-Wei/taco.git
